.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 100%;
  max-width: 32.5rem;

  &__parameters {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__error-message {
    font-size: 0.875rem;
    color: red;
    font-weight: bold;
  }

  &__label {
    padding-bottom: 0.5rem;
  }

  label {
    display: inline-flex;
    justify-content: space-between;

    width: 100%;
  }
}